{% extends 'users/header.html' %}
<body>
    {% block content %}
        <form method="POST">
        {% csrf_token %}
        First Name<input type="text" name="acc_first" value="{{user.first_name}}"  readonly><br><br>
        Last Name<input type="text" name="acc_last" value="{{user.last_name}}" readonly><br><br>
        Username<input type="text" name="acc_username" value="{{user.username}}" readonly/><br><br>
        Email<input type="email" name="acc_email" value="{{user.email}}" readonly/><br><br>
        <button type="submit">EDIT</button>
        </form>


    {% endblock %}
