{% extends 'core/header.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    </style>
</head>
<style>
    .btn-container{
    display: flex;
    justify-content: center;
    margin:50px;
    }
</style>
<body>
    {% block content %}
    {% if Path %}
        <h5>Public Transport Details</h5>
        <div>
            <table style="text-align: center">
                <tr style="background-color:#ffcab0">
                    <th>Start Stop</th>
                    <th>Next Stop</th>
                    <th>Route</th>
                    <th>Vehicle Type</th>
                    <th>Fare(₹)</th>
                    <th>Time</th>
                </tr>
                {% for tuple in Path %}
                    <tr style="background-color:#ffebbb">
                        {% for value in tuple %}
                        {% if value == 'Bus' %}
                            <td><img src="{% static 'images/bus.png' %}" style="width:75px;height:75px"></td>
                        {% elif value == 'Metro' %}
                            <td><img src="{% static 'images/metro.png' %}" style="width:75px;height:75px"></td>
                        {% else %}
                            <td>{{value}}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <br>
            <table style="background-color:#ffcab0">
                <tr>
                    <td>Total Fare :</td>
                    <td>₹{{Fare}}</td>
                </tr>
                <tr>
                    <td>Total Time :</td>
                    <td>{{Time}}</td>
                </tr>
            </table>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        {% if cabs %}
            <h5>Cab Details</h5>
            <table>
                <tr style="background-color:#ffcab0">
                    <th>Company</th>
                    <th>Fare(₹)</th>
                    <th>Time</th>
                </tr>

                {% for cab, cab_info in cabs.items %}
                    <tr style="background-color:#ffebbb">
                        <td>{{cab}}</td>
                        {% for info in cab_info %}
                            <td>{{info}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <br>
            <div class="btn-container" style="display:flex; justify-content:center;">
                    <button type="submit"
                            class="btn btn-outline-info btn-rounded"
                            style="background-color: #2D2E3E">ScreenShot This Page</button>
            </div>
        </form>
    {% endif %}
    {% endblock %}
</body>
</html>
